include LICENSE.txt
include CHANGES.rst
include README.rst
include CONTRIBUTORS.txt
include Makefile
graft aiohttp_kt
graft docs
graft examples
graft tests
global-exclude *.pyc
exclude aiohttp_kt/_multidict.html
exclude aiohttp_kt/_multidict.*.so
exclude aiohttp_kt/_multidict.pyd
exclude aiohttp_kt/_multidict.*.pyd
exclude aiohttp_kt/_websocket.html
exclude aiohttp_kt/_websocket.*.so
exclude aiohttp_kt/_websocket.pyd
exclude aiohttp_kt/_websocket.*.pyd
prune docs/_build
